*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: white;
}
.heading{
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color:#3276a6 ;
}
.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
    margin-left: 2px;
}
.container{
    width:90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;


}
.about-image img{
    max-width: 80%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;

}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
#logo{
    width: 5%;
}
#navbar{
    border: #000000 solid 1px ;
   
   background-color: #000000;
    display: flex;
    justify-content: end;
    
    color: rgb(237, 237, 237);
  
    margin: 0%;
}
a{
    color: white;
    text-decoration: none;
 
}

nav a{
  
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

@media screen  and(max-width:768px){
    .heading{
        padding:0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
        
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    
}
