body {
  font-size: 18px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 10%;
}

/* fixed navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.6);

  background-color: white;
}

/* room for the navbar */
#content {
  margin-top: 8%;
}

/* || Organization */
.text-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.row {
  display: flex;
  gap: 10px;
}

.box {
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 0 10px #e1e3e8;
}

/* || Gallery view */
#gallery-container {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
  margin: 2% 15%;
  width: 40%;
}

#gallery-prev, #gallery-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  /* basic styling */
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;

  font-size: 1.5rem;
  cursor: pointer;

  transition: color 0.1s;
}

#gallery-next {
  right: 0;
}

#gallery {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.gallery-images {
  /* display: flex; */
  flex: 0 0 100%;
  overflow: hidden;

  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
