body {
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 10%;

  gap: 10px;
}

/* fixed navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.6);

  background-color: white;
  z-index: 10;
}

#about {
  margin-right: 3%;
  margin-left: 3%;
}

#partnering {
  margin-right: 3%;
}

/* || Search box */
#searchbox {
  position: relative;

  display: flex;
  flex-grow: 1;
  align-items: center;
}

#search-input {
  position: absolute;

  font-size: inherit;
  padding: 5px 30px;
  width: 50%;

  border-radius: 8px;
  border: 2px solid #dbdcdc;
}

#search-icon {
  position: absolute;

  color: #8e969f;

  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 20px;

  pointer-events: none;
}

/* room for the navbar */
#content {
  margin-top: 8%;
}

/* || Organization */
.text-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

.row {
  display: flex;
  gap: 10px;
}

.box {
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 0 10px #e1e3e8;
}

.picture-container {
  width: 100%;
}

#step-picture {
  height: auto;
  width: 20%;
  right: 0;
  margin-left: 10%;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1em;
}

#signup-button {
  background-color: #00689f;
  color: #ffffff;
  margin-right: 10px;
}

#login-button {
  background-color: #dbdbdb;
  margin-left: 10px;
}

#empathy-header {
  margin-bottom: 5%;
}

#why-empathy {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding-bottom: 30px;
}

.darker-background {
  padding-top: 15px;
  background-color: #f9f9fb;
  margin: 0;
}

/* || Gallery view */
#gallery-container {
  --current-slide: 0;
  position: relative;
  overflow: hidden;

  left: 0;
  width: 30%;
}

#gallery-prev, #gallery-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  /* basic styling */
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;

  font-size: 1.5rem;
  cursor: pointer;

  transition: color 0.1s;
}

#gallery-next {
  right: 0;
}

#gallery {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.gallery-images {
  flex: 0 0 100%;
  overflow: hidden;

  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

/* || Diagonal container */
.diagonal-container {
  margin: 0;
  background-image: linear-gradient(45deg, #00679e, #00486d);
  transform: skewY(-2deg);
}

.diagonal-content {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 50em;
  margin: 0 auto;
  transform: skewY(2deg);
}
